In [5]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [3]:
# Replace 'your_download_link_here' with the actual download link
download_link = 'https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/residential-dwellings/exports/csv?lang=en&timezone=Australia%2FSydney&use_labels=true&delimiter=%2C'

# Read the CSV into a DataFrame
bay_df = pd.read_csv(download_link)

bay_df

,Census year,Block ID,Property ID,Base property ID,Building address,CLUE small area,Dwelling type,Dwelling number,Longitude,Latitude,location
0,2017,355,107908,107908,463 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.952007,-37.803558,"-37.80355829193092, 144.95200710155"
1,2017,355,107910,107910,467 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951877,-37.803541,"-37.803540604893456, 144.95187690720002"
2,2017,355,107913,107913,477 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951609,-37.803527,"-37.8035273389933, 144.95160858014998"
3,2017,355,107914,107914,479 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951550,-37.803521,"-37.80352072548783, 144.95154960515"
4,2017,355,107915,107915,481 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951488,-37.803514,"-37.803513800597855, 144.95148784765"
...,...,...,...,...,...,...,...,...,...,...,...
198646,2020,332,100654,100654,55 Baillie Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946375,-37.801535,"-37.80153461895691, 144.94637498665"
198647,2020,332,102347,102347,95-97 Curzon Street NORTH MELBOURNE VIC 3051,North Melbourne,Residential Apartments,2,144.948081,-37.801687,"-37.8016868551, 144.9480809331797"
198648,2020,332,107749,107749,62 Provost Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946263,-37.801722,"-37.80172243531561, 144.94626279685002"
198649,2020,332,107756,107756,38 Provost Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946871,-37.801791,"-37.80179089104192, 144.9468711464"
198650,2020,332,628210,628210,45B Baillie Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946658,-37.801566,"-37.801566262846606, 144.94665795725"

In [7]:
# 假设 df 中有 'latitude' 和 'longitude' 列
gdf = gpd.GeoDataFrame(
    bay_df, 
    geometry=gpd.points_from_xy(bay_df.Longitude, bay_df.Latitude),
    crs="EPSG:4326"  # 设置坐标参考系统，这里假设是WGS84
)

In [8]:
gdf

,Census year,Block ID,Property ID,Base property ID,Building address,CLUE small area,Dwelling type,Dwelling number,Longitude,Latitude,location,geometry
0,2017,355,107908,107908,463 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.952007,-37.803558,"-37.80355829193092, 144.95200710155",POINT (144.95201 -37.80356)
1,2017,355,107910,107910,467 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951877,-37.803541,"-37.803540604893456, 144.95187690720002",POINT (144.95188 -37.80354)
2,2017,355,107913,107913,477 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951609,-37.803527,"-37.8035273389933, 144.95160858014998",POINT (144.95161 -37.80353)
3,2017,355,107914,107914,479 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951550,-37.803521,"-37.80352072548783, 144.95154960515",POINT (144.95155 -37.80352)
4,2017,355,107915,107915,481 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951488,-37.803514,"-37.803513800597855, 144.95148784765",POINT (144.95149 -37.80351)
...,...,...,...,...,...,...,...,...,...,...,...,...
198646,2020,332,100654,100654,55 Baillie Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946375,-37.801535,"-37.80153461895691, 144.94637498665",POINT (144.94637 -37.80153)
198647,2020,332,102347,102347,95-97 Curzon Street NORTH MELBOURNE VIC 3051,North Melbourne,Residential Apartments,2,144.948081,-37.801687,"-37.8016868551, 144.9480809331797",POINT (144.94808 -37.80169)
198648,2020,332,107749,107749,62 Provost Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946263,-37.801722,"-37.80172243531561, 144.94626279685002",POINT (144.94626 -37.80172)
198649,2020,332,107756,107756,38 Provost Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946871,-37.801791,"-37.80179089104192, 144.9468711464",POINT (144.94687 -37.80179)
198650,2020,332,628210,628210,45B Baillie Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946658,-37.801566,"-37.801566262846606, 144.94665795725",POINT (144.94666 -37.80157)

In [1]:
import geopandas as gpd

## new

## sucess

In [1]:
import geopandas as gpd
import pandas as pd
import folium
import requests

In [2]:
csv_url = 'https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/residential-dwellings/exports/csv?lang=en&timezone=Australia%2FSydney&use_labels=true&delimiter=%2C'
bay_df = pd.read_csv(csv_url)
bay_df

,Census year,Block ID,Property ID,Base property ID,Building address,CLUE small area,Dwelling type,Dwelling number,Longitude,Latitude,location
0,2017,355,107908,107908,463 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.952007,-37.803558,"-37.80355829193092, 144.95200710155"
1,2017,355,107910,107910,467 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951877,-37.803541,"-37.803540604893456, 144.95187690720002"
2,2017,355,107913,107913,477 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951609,-37.803527,"-37.8035273389933, 144.95160858014998"
3,2017,355,107914,107914,479 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951550,-37.803521,"-37.80352072548783, 144.95154960515"
4,2017,355,107915,107915,481 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951488,-37.803514,"-37.803513800597855, 144.95148784765"
...,...,...,...,...,...,...,...,...,...,...,...
198646,2020,332,100654,100654,55 Baillie Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946375,-37.801535,"-37.80153461895691, 144.94637498665"
198647,2020,332,102347,102347,95-97 Curzon Street NORTH MELBOURNE VIC 3051,North Melbourne,Residential Apartments,2,144.948081,-37.801687,"-37.8016868551, 144.9480809331797"
198648,2020,332,107749,107749,62 Provost Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946263,-37.801722,"-37.80172243531561, 144.94626279685002"
198649,2020,332,107756,107756,38 Provost Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946871,-37.801791,"-37.80179089104192, 144.9468711464"
198650,2020,332,628210,628210,45B Baillie Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946658,-37.801566,"-37.801566262846606, 144.94665795725"

In [3]:
# 将DataFrame转换为GeoDataFrame
gdf = gpd.GeoDataFrame(
    bay_df, 
    geometry=gpd.points_from_xy(bay_df.Longitude, bay_df.Latitude),
    crs="EPSG:4326"  # 设置坐标参考系统为WGS84
)

In [6]:
gdf

,Census year,Block ID,Property ID,Base property ID,Building address,CLUE small area,Dwelling type,Dwelling number,Longitude,Latitude,location,geometry
0,2017,355,107908,107908,463 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.952007,-37.803558,"-37.80355829193092, 144.95200710155",POINT (144.95201 -37.80356)
1,2017,355,107910,107910,467 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951877,-37.803541,"-37.803540604893456, 144.95187690720002",POINT (144.95188 -37.80354)
2,2017,355,107913,107913,477 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951609,-37.803527,"-37.8035273389933, 144.95160858014998",POINT (144.95161 -37.80353)
3,2017,355,107914,107914,479 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951550,-37.803521,"-37.80352072548783, 144.95154960515",POINT (144.95155 -37.80352)
4,2017,355,107915,107915,481 Queensberry Street NORTH MELBOURNE 3051,North Melbourne,House/Townhouse,1,144.951488,-37.803514,"-37.803513800597855, 144.95148784765",POINT (144.95149 -37.80351)
...,...,...,...,...,...,...,...,...,...,...,...,...
198646,2020,332,100654,100654,55 Baillie Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946375,-37.801535,"-37.80153461895691, 144.94637498665",POINT (144.94637 -37.80153)
198647,2020,332,102347,102347,95-97 Curzon Street NORTH MELBOURNE VIC 3051,North Melbourne,Residential Apartments,2,144.948081,-37.801687,"-37.8016868551, 144.9480809331797",POINT (144.94808 -37.80169)
198648,2020,332,107749,107749,62 Provost Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946263,-37.801722,"-37.80172243531561, 144.94626279685002",POINT (144.94626 -37.80172)
198649,2020,332,107756,107756,38 Provost Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946871,-37.801791,"-37.80179089104192, 144.9468711464",POINT (144.94687 -37.80179)
198650,2020,332,628210,628210,45B Baillie Street NORTH MELBOURNE VIC 3051,North Melbourne,House/Townhouse,1,144.946658,-37.801566,"-37.801566262846606, 144.94665795725",POINT (144.94666 -37.80157)

## try

In [ ]:
import pandas as pd
import geopandas as gpd

In [23]:
# 替换以下URL为您的Excel文件链接
excel_url = 'https://www.abs.gov.au/statistics/people/population/regional-population/2021-22/32180DS0001_2021-22r.xlsx'

# 指定需要读取的工作表名或索引
sheet_name = 'Table 2'

# 读取Excel文件，跳过前五行，将第六行到第八行作为多级表头
population_df = pd.read_excel(excel_url, sheet_name=sheet_name, header=None, skiprows=9)

# 查看数据以确定是否正确读取
print(population_df.head())

  0         1      2             3      4         5        6         7   \
0  2  Victoria  2RVIC  Rest of Vic.  201.0  Ballarat  20101.0  Ballarat
1  2  Victoria  2RVIC  Rest of Vic.  201.0  Ballarat  20101.0  Ballarat
2  2  Victoria  2RVIC  Rest of Vic.  201.0  Ballarat  20101.0  Ballarat
3  2  Victoria  2RVIC  Rest of Vic.  201.0  Ballarat  20101.0  Ballarat
4  2  Victoria  2RVIC  Rest of Vic.  201.0  Ballarat  20101.0  Ballarat

            8              9   ...  12      13    14  15     16     17    18  \
0  201011001.0      Alfredton  ... NaN  1150.0   6.8 NaN  169.0  899.0  82.0
1  201011002.0       Ballarat  ... NaN  -140.0  -1.2 NaN  -83.0 -134.0  77.0
2  201011005.0      Buninyong  ... NaN    15.0   0.2 NaN   32.0  -53.0  36.0
3  201011006.0      Delacombe  ... NaN  1142.0  10.7 NaN  123.0  996.0  23.0
4  201011007.0  Smythes Creek  ... NaN    11.0   0.3 NaN   17.0   -8.0   2.0

   19     20     21
0 NaN   52.7  341.3
1 NaN   12.4  963.8
2 NaN   51.6  140.4
3 NaN   34.2  345.1
4 NaN  104.7   40.3

[5 rows x 22 columns]

In [24]:
population_df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011001.0,Alfredton,...,NaN,1150.0,6.8,NaN,169.0,899.0,82.0,NaN,52.7,341.3
1,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011002.0,Ballarat,...,NaN,-140.0,-1.2,NaN,-83.0,-134.0,77.0,NaN,12.4,963.8
2,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011005.0,Buninyong,...,NaN,15.0,0.2,NaN,32.0,-53.0,36.0,NaN,51.6,140.4
3,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011006.0,Delacombe,...,NaN,1142.0,10.7,NaN,123.0,996.0,23.0,NaN,34.2,345.1
4,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011007.0,Smythes Creek,...,NaN,11.0,0.3,NaN,17.0,-8.0,2.0,NaN,104.7,40.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,"Source: Regional population, 2021-22",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,© Commonwealth of Australia 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
try:
    # 读取包含表头的数据行
    header_df = pd.read_excel(excel_url, sheet_name=sheet_name, header=None, nrows=8)

    # 提取并合并表头行
    headers = header_df.iloc[5:8]
    combined_header = headers.apply(lambda x: ' '.join(x.dropna().astype(str)), axis=0)

    # 读取实际数据，并应用合并后的表头
    table_2_df = pd.read_excel(excel_url, sheet_name=sheet_name, skiprows=8, header=None)
    table_2_df.columns = combined_header
    
    print("数据读取并手动合并表头成功。以下是前几行数据：")
    display(table_2_df.head())
except Exception as e:
    print(f"手动合并表头时出错：{e}")

数据读取并手动合并表头成功。以下是前几行数据：

,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,...,,ERP change 2021-22 no.,%,,Components of population change 2021-22 Natural increase no.,Net internal migration no.,Net overseas migration no.,,Area km2,Population density 2022 persons/km2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011001.0,Alfredton,...,NaN,1150.0,6.8,NaN,169.0,899.0,82.0,NaN,52.7,341.3
2,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011002.0,Ballarat,...,NaN,-140.0,-1.2,NaN,-83.0,-134.0,77.0,NaN,12.4,963.8
3,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011005.0,Buninyong,...,NaN,15.0,0.2,NaN,32.0,-53.0,36.0,NaN,51.6,140.4
4,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011006.0,Delacombe,...,NaN,1142.0,10.7,NaN,123.0,996.0,23.0,NaN,34.2,345.1

In [35]:
# 'S/T code'是实际的列名
st_code_col = 'S/T code'

# 过滤掉'S/T code'列中不等于2的数据，包括空值
filtered_df = table_2_df[table_2_df[st_code_col] == 2].dropna(subset=[st_code_col])

# 显示过滤后的数据
print("过滤后的数据预览：")
print(filtered_df.head())

过滤后的数据预览：
  S/T code  S/T name GCCSA code    GCCSA name  SA4 code  SA4 name  SA3 code  \
1        2  Victoria      2RVIC  Rest of Vic.     201.0  Ballarat   20101.0
2        2  Victoria      2RVIC  Rest of Vic.     201.0  Ballarat   20101.0
3        2  Victoria      2RVIC  Rest of Vic.     201.0  Ballarat   20101.0
4        2  Victoria      2RVIC  Rest of Vic.     201.0  Ballarat   20101.0
5        2  Victoria      2RVIC  Rest of Vic.     201.0  Ballarat   20101.0

   SA3 name     SA2 code       SA2 name  ...      ERP change 2021-22 no.  \
1  Ballarat  201011001.0      Alfredton  ... NaN                  1150.0
2  Ballarat  201011002.0       Ballarat  ... NaN                  -140.0
3  Ballarat  201011005.0      Buninyong  ... NaN                    15.0
4  Ballarat  201011006.0      Delacombe  ... NaN                  1142.0
5  Ballarat  201011007.0  Smythes Creek  ... NaN                    11.0

      %      Components of population change 2021-22 Natural increase no.  \
1   6.8 NaN                                              169.0
2  -1.2 NaN                                              -83.0
3   0.2 NaN                                               32.0
4  10.7 NaN                                              123.0
5   0.3 NaN                                               17.0

   Net internal migration no.  Net overseas migration no.      Area km2  \
1                       899.0                        82.0 NaN      52.7
2                      -134.0                        77.0 NaN      12.4
3                       -53.0                        36.0 NaN      51.6
4                       996.0                        23.0 NaN      34.2
5                        -8.0                         2.0 NaN     104.7

   Population density 2022 persons/km2
1                                341.3
2                                963.8
3                                140.4
4                                345.1
5                                 40.3

[5 rows x 22 columns]

In [36]:
filtered_df

,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,...,,ERP change 2021-22 no.,%,,Components of population change 2021-22 Natural increase no.,Net internal migration no.,Net overseas migration no.,,Area km2,Population density 2022 persons/km2
1,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011001.0,Alfredton,...,NaN,1150.0,6.8,NaN,169.0,899.0,82.0,NaN,52.7,341.3
2,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011002.0,Ballarat,...,NaN,-140.0,-1.2,NaN,-83.0,-134.0,77.0,NaN,12.4,963.8
3,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011005.0,Buninyong,...,NaN,15.0,0.2,NaN,32.0,-53.0,36.0,NaN,51.6,140.4
4,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011006.0,Delacombe,...,NaN,1142.0,10.7,NaN,123.0,996.0,23.0,NaN,34.2,345.1
5,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011007.0,Smythes Creek,...,NaN,11.0,0.3,NaN,17.0,-8.0,2.0,NaN,104.7,40.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21703.0,Colac - Corangamite,217031476.0,Otway,...,NaN,-7.0,-0.2,NaN,8.0,-39.0,24.0,NaN,1505.9,2.6
519,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21704.0,Warrnambool,217041477.0,Moyne - East,...,NaN,53.0,0.8,NaN,29.0,7.0,17.0,NaN,3275.8,2.2
520,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21704.0,Warrnambool,217041478.0,Moyne - West,...,NaN,127.0,1.3,NaN,21.0,74.0,32.0,NaN,2037.8,5.0
521,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21704.0,Warrnambool,217041479.0,Warrnambool - North,...,NaN,105.0,0.5,NaN,23.0,-25.0,107.0,NaN,62.4,361.7
522,2,Victoria,2RVIC,Rest of Vic.,217.0,Warrnambool and South West,21704.0,Warrnambool,217041480.0,Warrnambool - South,...,NaN,17.0,0.1,NaN,-28.0,-64.0,109.0,NaN,120.2,110.8

## new success

In [37]:
# 读取包含表头的数据行
header_df = pd.read_excel(excel_url, sheet_name=sheet_name, header=None, nrows=8)

# 提取并合并表头行
headers = header_df.iloc[5:8]
combined_header = headers.apply(lambda x: ' '.join(x.dropna().astype(str)), axis=0)

# 读取实际数据，并应用合并后的表头
table_2_df = pd.read_excel(excel_url, sheet_name=sheet_name, skiprows=8, header=None)
table_2_df.columns = combined_header

In [38]:

# 显示数据
print("数据读取并手动合并表头成功。以下是前几行数据：")
display(table_2_df.head())

数据读取并手动合并表头成功。以下是前几行数据：

,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,...,,ERP change 2021-22 no.,%,,Components of population change 2021-22 Natural increase no.,Net internal migration no.,Net overseas migration no.,,Area km2,Population density 2022 persons/km2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011001.0,Alfredton,...,NaN,1150.0,6.8,NaN,169.0,899.0,82.0,NaN,52.7,341.3
2,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011002.0,Ballarat,...,NaN,-140.0,-1.2,NaN,-83.0,-134.0,77.0,NaN,12.4,963.8
3,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011005.0,Buninyong,...,NaN,15.0,0.2,NaN,32.0,-53.0,36.0,NaN,51.6,140.4
4,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011006.0,Delacombe,...,NaN,1142.0,10.7,NaN,123.0,996.0,23.0,NaN,34.2,345.1

In [39]:
# 过滤数据
st_code_col = 'S/T code'
filtered_df = table_2_df[table_2_df[st_code_col] == 2].dropna(subset=[st_code_col])

In [41]:

# 显示过滤后的数据
print("过滤后的数据预览：")
display(filtered_df.head())

过滤后的数据预览：

,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,...,,ERP change 2021-22 no.,%,,Components of population change 2021-22 Natural increase no.,Net internal migration no.,Net overseas migration no.,,Area km2,Population density 2022 persons/km2
1,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011001.0,Alfredton,...,NaN,1150.0,6.8,NaN,169.0,899.0,82.0,NaN,52.7,341.3
2,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011002.0,Ballarat,...,NaN,-140.0,-1.2,NaN,-83.0,-134.0,77.0,NaN,12.4,963.8
3,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011005.0,Buninyong,...,NaN,15.0,0.2,NaN,32.0,-53.0,36.0,NaN,51.6,140.4
4,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011006.0,Delacombe,...,NaN,1142.0,10.7,NaN,123.0,996.0,23.0,NaN,34.2,345.1
5,2,Victoria,2RVIC,Rest of Vic.,201.0,Ballarat,20101.0,Ballarat,201011007.0,Smythes Creek,...,NaN,11.0,0.3,NaN,17.0,-8.0,2.0,NaN,104.7,40.3

In [43]:
# 假设 'SA3 code' 是列名中的一个，您需要根据实际情况调整
sa3_code_col = 'SA3 code'

# 过滤出所有 'SA3 code' 等于 20604 的行
filtered_sa3_df = table_2_df[table_2_df[sa3_code_col] == 20604]

# 显示过滤后的数据
print("SA3 code 为 20604 的数据预览：")
display(filtered_sa3_df.head())

SA3 code 为 20604 的数据预览：

,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,...,,ERP change 2021-22 no.,%,,Components of population change 2021-22 Natural increase no.,Net internal migration no.,Net overseas migration no.,,Area km2,Population density 2022 persons/km2
128,2,Victoria,2GMEL,Greater Melbourne,206.0,Melbourne - Inner,20604.0,Melbourne City,206041117.0,Carlton,...,NaN,940.0,5.5,NaN,14.0,-610.0,1536.0,NaN,1.8,9899.4
129,2,Victoria,2GMEL,Greater Melbourne,206.0,Melbourne - Inner,20604.0,Melbourne City,206041118.0,Docklands,...,NaN,551.0,3.5,NaN,179.0,-31.0,403.0,NaN,2.4,6733.2
130,2,Victoria,2GMEL,Greater Melbourne,206.0,Melbourne - Inner,20604.0,Melbourne City,206041119.0,East Melbourne,...,NaN,-75.0,-1.5,NaN,-10.0,-139.0,74.0,NaN,2.9,1684.3
131,2,Victoria,2GMEL,Greater Melbourne,206.0,Melbourne - Inner,20604.0,Melbourne City,206041120.0,Flemington Racecourse,...,NaN,0.0,0.0,NaN,0.0,0.0,0.0,NaN,1.7,45.6
132,2,Victoria,2GMEL,Greater Melbourne,206.0,Melbourne - Inner,20604.0,Melbourne City,206041121.0,Kensington (Vic.),...,NaN,128.0,1.2,NaN,102.0,-114.0,140.0,NaN,2.1,5123.4

## try

In [7]:
# 创建Folium地图
map_melbourne = folium.Map(location=[-37.8136, 144.9631], zoom_start=12)

# 将GeoDataFrame中的点添加到地图上
for idx, row in gdf.iterrows():
    folium.Marker([row.geometry.y, row.geometry.x], popup=row['geometry']).add_to(map_melbourne)
    # 这里的 'SomeInfo' 是一个假设的列名，您需要根据实际情况进行替换

# 显示地图
map_melbourne

GEOSException: UnsupportedOperationException: getY called on empty Point